@use "@/assets/styles/colors" as *;
@use "@/assets/styles/typography" as *;
@use "@/assets/styles/units" as *;


.item {
    padding: $unit-8 $unit-4;
    min-width: 60px;
    box-sizing: border-box;
    display: grid;
    gap: $unit-2;
    text-align: center;
    align-content: center;

    .iconContainer,
    .valueContainer {
        color: inherit;
    }

    &.danger,
    &.expired {
        color: $color-white;
    }

    &.danger {
        background-color: $color-danger;
    }

    &.expired {
        background-color: $color-neutral;
    }


    .iconContainer {
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        svg {
            height: $unit-16;
            width: $unit-16;
        }
    }

    .valueContainer {
        text-transform: uppercase;
        font-size: $font-size-12;
        font-weight: $font-weight-semibold;

        .label {
            letter-spacing: 0.04em;
        }
    }
}
