$pm-border-radius-s: 0.25rem;
$pm-border-radius-m: 0.5rem;
$pm-border-radius-l: 0.75rem;
$pm-border-radius-xl: 1rem;
$pm-border-radius-2xl: 1.5rem;
$pm-border-radius-3xl: 2rem;
$pm-border-radius-4xl: 50%;
