$unit-1: 0.063rem;
$unit-2: 0.125rem;
$unit-3: 0.188rem;
$unit-4: 0.25rem;
$unit-5: 0.313rem;
$unit-6: 0.375rem;
$unit-8: 0.5rem;
$unit-10: 0.625rem;
$unit-12: 0.75rem;
$unit-14: 0.875rem;
$unit-16: 1rem;
$unit-18: 1.125rem;
$unit-19: 1.188rem;
$unit-20: 1.25rem;
$unit-24: 1.5rem;
$unit-26: 1.625rem;
$unit-28: 1.75rem;
$unit-29: 1.813rem;
$unit-30: 1.875rem;
$unit-32: 2rem;
$unit-36: 2.25rem;
$unit-40: 2.5rem;
$unit-44: 2.75rem;
$unit-45: 2.813rem;
$unit-48: 3rem;
$unit-52: 3.25rem;
$unit-54: 3.375rem;
$unit-56: 3.5rem;
$unit-60: 3.75rem;
$unit-64: 4rem;
$unit-65: 4.063rem;
$unit-70: 4.375rem;
$unit-72: 4.5rem;
$unit-74: 4.625rem;
$unit-76: 4.75rem;
$unit-80: 5rem;
$unit-82: 5.125rem;
$unit-88: 5.5rem;
$unit-92: 5.75rem;
$unit-96: 6rem;
$unit-100: 6.25rem;
$unit-102: 6.375rem;
$unit-108: 6.75rem;
$unit-112: 7rem;
$unit-116: 7.25rem;
$unit-118: 7.375rem;
$unit-120: 7.5rem;
$unit-128: 8rem;
$unit-132: 8.25rem;
$unit-134: 8.375rem;
$unit-140: 8.75rem;
$unit-154: 9.625rem;
$unit-160: 10rem;
$unit-172: 10.75rem;
$unit-182: 11.375rem;
$unit-184: 11.5rem;
$unit-192: 12rem;
$unit-200: 12.5rem;
