@use "@/assets/styles/colors"as *;
@use "@/assets/styles/units" as *;
@use "@/assets/styles/borders" as *;
@use "@/assets/styles/typography" as *;


.footerRow {
    color: $color-primary;
    background-color: $color-white;
    padding: $unit-8 $unit-16;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $unit-10;

    .cardRarity {
        text-transform: uppercase;
        align-self: center;
        font-weight: $font-weight-semibold;
        font-size: $font-size-12;
    }

    .badgeContainer {
        display: flex;
        align-items: center;

        & > *:not(:first-child) {
            margin-left: -10px;
        }

        & > *:nth-child(1) {
            z-index: 1;
        }
    }

    .customBadge {
        border: $unit-1 solid $color-white;
    }
}
